<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="wrap">
       <div id="app">
        <h3>Hola, {{ nombre }} aprenderá:</h3>
        <div>
            <p v-if="mostrar_titulo_lista"><b>{{titulo_lista}}</b></p>
            <p v-else><b>{{titulo_else}}</b></p>
            <ul>
               <li v-for="(lenguaje, i) in lenguajes" v-bind:key="i" v-if=" i % 2 === 0">{{lenguaje}}</li>
            </ul>
        </div>
       
        <div>
            <p v-if="mostrar_titulo_segunda_lista"><b>{{titulo_segunda_lista}}</b></p>
            <p v-else><b>{{segundo_titulo_else}}</b></p>
            <ul>
               <li v-for="deporte in deportes">{{deporte}}</li>
            </ul>
            
        </div>
       
       </div>
    
   </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>